
@{
    ViewBag.Title = "Laboratories";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    @Html.Partial("ScienceNav")
    <div class="col-md-9 mainColumns" role="main">
        <div class="pageTitle">
            @GlobalRes.Laboratories
        </div>
        <div class="row">
            <div class="c__block-content c__block-labs">
                <div class="col-md-6">
                    <div class="plash">&nbsp;</div>
                    <div class="lab">
                        <div class="head">Лабораторія проектування OSS-систем</div>
                        <div class="auditory">ауд. 420, 421</div>
                        <div class="description">
                            <p>Навчально-науковий центр інформаційно-комунікаційних технологій &ldquo;NetCracker &ndash; КПІ&rdquo;</p>
                            <p>Технології розроблення програмного забезпечення web-орієнтованих OSS-систем на Java EE</p>
                            <p>Дослідження методів управління мультисервісними конвергентними мережами</p>
                        </div>
                        <div class="main_man">доц. Букасов М.М.</div>
                    </div>
                    <div class="plash">&nbsp;</div>
                    <div class="lab">
                        <div class="head">Лабораторія моделювання телекомунікаційних систем та мереж</div>
                        <div class="auditory">ауд. 521</div>
                        <div class="description">
                            <p>Навчально-науковий центр інформаційно-комунікаційних технологій &ldquo;NetCracker &ndash; КПІ&rdquo;</p>
                            <p>Аналіз, проектування та моделювання телекомунікаційних систем та мереж</p>
                            <p>Дослідження методів забезпечення надійності, доступності та якості сервісів операторів телекомунікаційних послуг</p>
                        </div>
                        <div class="main_man">доц. Букасов М.М.</div>
                    </div>
                    <div class="plash">&nbsp;</div>
                    <div class="lab">
                        <div class="head">Лабораторія інфраструктурних (IaaS), платфомених (Pass) та програмних (SaaS) сервісів</div>
                        <div class="auditory">ауд.531а</div>
                        <div class="description">
                            <p>Дослідження моделей надання сервісів IaaS, PaaS, i Saas</p>
                            <p>Розпаралелювання процесів оброблення великих даних (Big Data)</p>
                            <p>Технології розроблення програмного забезпеченя для багатопроцесорних систем</p>
                        </div>
                        <div class="main_man">проф. Дорошенко А.Ю.</div>
                    </div>
                    <div class="plash">&nbsp;</div>
                    <div class="lab">
                        <div class="head">Лабораторія телекомунікаційних та мережевих технологій</div>
                        <div class="auditory">ауд. 533</div>
                        <div class="description">
                            <p>Академія Cisco<br />Центр підготовки інструкторів Cisco</p>
                            <p>Підготовка за програмами CCNA Routing &amp; Switching, CCNA Wireless, CCNA Security, CCNP Routing &amp; Switching, IT Essentials</p>
                        </div>
                        <div class="main_man">доц. Дорогий Я.Ю.</div>
                    </div>
                    <div class="plash">&nbsp;</div>
                    <div class="lab">
                        <div class="head">Лабораторія інформаційних технологій</div>
                        <div class="auditory">ауд. 520, 531б</div>
                        <div class="description">
                            <p>Інтеграція застосувань</p>
                            <p>Інтеграція різнорідних джерел даних</p>
                            <p>Технології автоматизованого програмування для розподілених систем</p>
                        </div>
                        <div class="main_man">ас. Хмелюк В.С.</div>
                    </div>
                    <div class="plash">&nbsp;</div>
                    <div class="lab">
                        <div class="head">Лабораторія розподілених систем обробки інформації</div>
                        <div class="auditory">ауд. 523</div>
                        <div class="description">
                            <p>Навчально-науковий центр &ldquo;EPAM Systems &ndash; КПІ&rdquo;</p>
                            <p>Розроблення програмних систем на основі .NET</p>
                            <p>Адміністрування баз даних, ОС і застосувань</p>
                        </div>
                        <div class="main_man">доц. Амонс О.А.</div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="plash">&nbsp;</div>
                    <div class="lab">
                        <div class="head">Лабораторія оптимізації та адміністрування конвергентних мереж</div>
                        <div class="auditory">ауд. 525</div>
                        <div class="description">
                            <p>Навчально-науковий центр &ldquo;PortaOne &ndash; КПІ&rdquo;</p>
                            <p>Дослідження конвергентних мереж, протоколів та програмних продуктів, для їх проектування, управління медіа-потоками та IP-телефонії</p>
                            <p>Сертифікаційні програми компанії PortaOne з телефонії, з поглибленим вивченням інтернет-мереж, Linux, та протоколу SIP</p>
                        </div>
                        <div class="main_man">проф. Ролік О.І.</div>
                    </div>
                    <div class="plash">&nbsp;</div>
                    <div class="lab">
                        <div class="head">Лабораторія елементів та пристроїв комп'ютеризованих систем управління та автоматики</div>
                        <div class="auditory">ауд. 518</div>
                        <div class="description">
                            <p>Дослідження основ системної інженерії</p>
                            <p>Побудова сучасних багаторівневих систем автоматизації управління</p>
                            <p>Дослідження технологій отримання і опрацювання інформації про об&rsquo;єкт управління та реалізації керувань</p>
                        </div>
                        <div class="main_man">ст. викл. Долина В.Г.</div>
                    </div>
                    <div class="plash">&nbsp;</div>
                    <div class="lab">
                        <div class="head">Лабораторія комп'ютеризованих систем управління</div>
                        <div class="auditory">ауд. 309</div>
                        <div class="description">
                            <p>Управління технічними об&rsquo;єктами та технологічними процесами на основі промислових контролерів National Instruments, Siemens, Mitsubishi, Мікрол, Holitm, та ін.</p>
                            <p>Дослідження технологій &ldquo;Інтелектуальні будинки&rdquo;</p>
                        </div>
                        <div class="main_man">доц. Кравець П.І.</div>
                    </div>
                    <div class="plash">&nbsp;</div>
                    <div class="lab">
                        <div class="head">Лабораторія електроніки та мікропроцесорної техніки</div>
                        <div class="auditory">ауд. 517</div>
                        <div class="description">
                            <p>Вивчення мікроконтролерів родини AVR EV8031</p>
                            <p>Вивчення мікроконтролерів Texas Instrument EKS-LM3S1968</p>
                            <p>Вивчення мікроконтролерів Analog System Lab Kit Pro</p>
                            <p>Вивчення ОС реального часу QNX</p>
                        </div>
                        <div class="main_man">доц. Катін П.Ю.</div>
                    </div>
                    <div class="plash">&nbsp;</div>
                    <div class="lab">
                        <div class="head">Лабораторія комунікаційних технологій</div>
                        <div class="auditory">ауд. 434</div>
                        <div class="description">
                            <p>Підготовка за програмами Cisco Certified Network Professional (CCNP), IT-Essentials, Cisco Certified Network Associate (CCNA), Cisco Network Security</p>
                        </div>
                        <div class="main_man">доц. Полторак В.П.</div>
                    </div>
                    <div class="plash">&nbsp;</div>
                    <div class="lab">
                        <div class="head">Лабораторія засобів промисловоїї автоматизації</div>
                        <div class="auditory">ауд. 310</div>
                        <div class="description">
                            <p>Дослідження якості типових кабельних структурованих мереж предачі даних</p>
                            <p>Дослідження методів та засобів дистанційного вимірювання енергоресурсів</p>
                            <p>Дослідження промислових протоколів доступу до метрологічного обладнання</p>
                        </div>
                        <div class="main_man">ст. викл Моргаль О.М., ас.Жеребко В.А.</div>
                    </div>
                </div>
            </div>
            <div>&nbsp;</div>
        </div>
        <div>
            @Html.Action("FooterStringUncos", "News")
        </div>
    </div>
</div>