
@{
    ViewBag.Title = GlobalRes.Researches;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    @Html.Partial("ScienceNav")
    <div class="col-md-9 mainColumns content-col" style="background-color:rgba(255, 255, 255, 0.4);" role="main">
        <div class="c__block-title">Наукові розробки</div>
        <div class="c__block-content">
            <p>Кафедра АУТС має досвід виконання інженерно-технічних розробок на замовлення підприємств та організацій. Значний науково-технічний потенціал; добре обладнані науково-дослідні та навчальні лабораторії; поєднання досвіду з енергією молодих, &ndash; дає можливість реалізації широкого спектру складних апаратно-програмних комплексів. Фахівцями кафедри освоєні сучасне обладнання і технології виконання робіт.</p>
            <hr />
            <p>Розробка систем управління технологічними процесами на базі сучасних програмно-апаратних засобів (технологічних контролерів типу Р-130, КР-300, S7-200 (Siemens), Schneider та ін.), робастних, нейромережевих та нечітких алгоритмів управління.</p>
            <hr />
            <p>Розробка систем для збору, реєстрації, збереження, обробки та відображення інформації про технологічну діяльність підрозділів комунального господарства (котельні, бойлери, газорозподільні станції тощо), аналізу отримазної інформації та формування звітів.</p>
            <hr />
            <p>Розробка програмних засобів моніторинга та управління телекомунікаційними системами. Розробка методів та засобів аналізу та управління регіональними інформаційно-обчислювальними мережами зв&rsquo;язку, моніторинга телекомунікаційного обладнання в локальних мережах.</p>
            <hr />
            <p>Розробка засобів вимірювання та управління для автоматизованих систем управління для підприємств харчової промисловості.</p>
            <hr />
            <p>Розробка програмних продуктів рівня управління підприємствами:</p>
            <ul>
                <li>система автоматизації загального складскього обліку (її основні характеристики: націлена на роботу на підприємствах та в організаціях із багатьма складами за наявності потоків матеріалів між ними; забезпечується робота із штрих-кодами; візуальна частина реалізована в середовищі Delphi, генерація звітів &ndash; в Microsoft Visual Studio C++, СКБД &ndash; Oracle 8і, з використанням сервера застосувань Megapolis 2);</li>
                <li>система електронного документообігу (реалізована в середовищі Delphi, СУБД &ndash; MS SQLServer2000);</li>
                <li>сервер застосувань SmartBase (реалізований в середовищі Microsoft Visual Studio.Net C#, обмін даними здійснюється на XML, включає, окрім інших підсистем, підсистему кодогенерації за метаданими класу, механізми тонкого клієнта та контролю версій метаданих.</li>
            </ul>
            <hr />
            <p>Модернізація ЧПУ із заміною &laquo;Электроника-60&raquo; на промисловий PC із відновленням (втрачених) алгоритмів, в тому числі системний аналіз та розробка програмного забезпечення на базі Rational Rose. Впроваджено на заводі &ldquo;Арсенал&rdquo;.</p>
            <hr />
            <p>Розробка та впровадження різноманітних систем, засобів контроля та управління: система вводу, обробки, виводу даних та передачі команд управління силових подстанцій електрозабезпечення.</p>
            <hr />
            <p>Розробка методів та засобів класифікації та розпізнавання:</p>
            <ul>
                <li>виробів механічної ділянки для оптимізації завантаження токарно-револьверної ділянки;</li>
                <li>технологічного процесу для отримання хімічного продукту із заданими властивостями;</li>
                <li>аерокосмічних знімків.</li>
            </ul>
            <hr />
            <p>Розробка системи дослідження електрофізичних властивостей промислового кам&rsquo;яного вугілля та визначення його теплотвірної властивості, системи контролю якості нафти та нафтопродуктів в процесі видобування та транспортування.</p>
            <hr />
            <p>Проектування, монтаж, налаштування та супровід локальних, корпоративних та промислових мереж. Аналіз, моделювання, оптимізація та реалізація локальних, корпоративних та промислових мереж. Розробка та дослідження інтерфейсів та приладів зв&rsquo;язку з об&rsquo;єктами.<br />Проектування та реалізація систем та мереж передачі даних.</p>
            <p>Національний технічний університет України &ldquo;КПІ&rdquo; завжди посідав провідне місце у науковому світі. У стінах цього вузу завжди панувала атмосфера, що кликала до пізнання нового, до нових відкриттів у світі науки. Не позбулася цього натхнення і студенська молодь, що навчається на кафедрі Автоматики та обчислювальної техніки.</p>

            <div class="c__block-title"><strong>Розробки що завершено</strong></div>
            <ul>
                <li>Система моніторингу і керування первинною телекомунікаційною мережею</li>
                <li>Система збору і реєстрації інформації</li>
                <li>Система контролю і керування транспортними потоками міста</li>
                <li>Автоматичний рефрактометр Д-1</li>
                <li>СЕДО</li>
                <li>Платформа SmartBase</li>
                <li>Система управління ІТ-інфраструктурою SmartBase ITS Control</li>
                <li>Вирощування алмазів</li>
            </ul>
            <hr />
        </div>
        <div>
            @Html.Action("FooterStringUncos", "News")
        </div>
    </div>
</div>