
@{
    ViewBag.Title = GlobalRes.StudentResearches;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    @Html.Partial("ScienceNav")
    <div class="col-md-9 mainColumns content-col" style="background-color:rgba(255, 255, 255, 0.4);" role="main">
        <div class="c__block-title">
            @GlobalRes.StudentResearches
        </div>
        <div class="c__block-holder">&nbsp;</div>
        <div class="c__block-content">
            <table border="0" cellspacing="0" cellpadding="0">
                <tbody>
                    <tr>
                        <td colspan="2">
                            <table border="0" cellspacing="0" cellpadding="0">
                                <tbody>
                                    <tr>
                                        <td colspan="2">
                                            19 травня 2011р. на кафедрі АУТС відбулась науково-технічна магістерська конференція.
                                            <p>&nbsp;</p>
                                            <p>Секція &ldquo;<strong>Інформаційні та телекомунікаційні технології в управлінні та проектуванні</strong>&ldquo;.</p>
                                            <p>Більш детально ознайомитись зі змістом наукових результатів можна в презентаціях:</p>
                                            <table class="table-striped">
                                                <tbody>
                                                    <tr>
                                                        <th>№ п/п</th>
                                                        <th>Прізвище, ім&rsquo;я, по батькові доповідача</th>
                                                        <th>Назва доповіді</th>
                                                        <th>Посада, вчені ступінь та звання, прізвище й ініціали керівника</th>
                                                    </tr>
                                                    <tr>
                                                        <td>1.</td>
                                                        <td>АФАНАСЬЄВ Віталій Вікторович</td>
                                                        <td><a href="http://127.0.0.1:8080/images/afanasev_Imitac_model_nmsy.pptx" target="_blank">Імітаційне моделювання нейро-мережевої системи управління багатостадійного технологічного процесу</a></td>
                                                        <td>
                                                            <div align="center">к.т.н., доц., Кравець П.І.</div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>2.</td>
                                                        <td>БЕЗКЛИНСЬКИЙ Олександр Валерійович</td>
                                                        <td>Синтез багатовимірних цифрових систем управління</td>
                                                        <td>
                                                            <div align="center">к.т.н., доц., Репнікова Н.Б.</div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>3.</td>
                                                        <td>ВОВК Владислав Мирославович</td>
                                                        <td><a href="http://127.0.0.1:8080/images/Vovk_metod_analizy_stany_elem_korp_its.ppt" target="_blank">Метод аналізу стану елементів корпоративної інформаційно-телекомунікаційної системи</a></td>
                                                        <td>
                                                            <div align="center">к.т.н., доц., Ролік О.І.</div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>4.</td>
                                                        <td>ГАЛУШКО Дмитро Олександрович</td>
                                                        <td><a href="http://127.0.0.1:8080/images/Galushko_metod_ocin_yakosti_funk_pids_IT-infr.pptx" target="_blank">Метод оцінки якості функціонування підсистеми ІТ-інфраструктури</a></td>
                                                        <td>
                                                            <div align="center">к.т.н., доц., Ролік О.І.</div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>5.</td>
                                                        <td>ЗАЙЦЕВ Сергій Юрійович</td>
                                                        <td><a href="http://127.0.0.1:8080/images/Zaycev_rozr_syst_vuyavl_plag_v_pr_codi_.pptx" target="_blank">Розробка системи виявлення плагіату в програмному коді С#</a>&nbsp;Р</td>
                                                        <td>
                                                            <div align="center">к.т.н., доц., Амонс О.А.</div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>6.</td>
                                                        <td>КОЛОСОК Антон Володимирович</td>
                                                        <td><a href="http://127.0.0.1:8080/images/Kolosok_vurish_optimizac_zadach_keruv_sklad_rozp_ob.pptx" target="_blank">Вирішення оптимізаційних задач керування складними розподі-леними об&rsquo;єктами</a></td>
                                                        <td>
                                                            <div align="center">к.т.н., доц., Кравець П.І.</div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>7.</td>
                                                        <td>КУНЩИКОВ Євгеній Олегович</td>
                                                        <td><a href="http://127.0.0.1:8080/images/Kunshikov_syst_upr_bp.pptx" target="_blank">Система управління бізнес &ndash; проце-сами на основі логічних моделей</a></td>
                                                        <td>
                                                            <div align="center">к.т.н., доц., Амонс О.А.</div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>8.</td>
                                                        <td>ЛАБУНСЬКИЙ Антон Юрійович</td>
                                                        <td><a href="http://127.0.0.1:8080/images/Labunskiy_modeli_i_met_uor_rozp_res.pptx" target="_blank">Моделі і методи управління розподіленням ресурсів при серверній віртуалізації</a></td>
                                                        <td>
                                                            <div align="center">
                                                                <p>Д.т.н., професор<br />Теленик С.Ф.</p>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>9.</td>
                                                        <td>ЛЯСКОВСЬКИЙ Антон Сергійович</td>
                                                        <td><a href="http://127.0.0.1:8080/images/Lyaskovskiy_pobudova_nejromerez_syst_upr.pptx" target="_blank">Побудова нейромережевих систем управління LabVIEW</a></td>
                                                        <td>
                                                            <div align="center">д.ф.-м.н., проф., Дорошенко А.Ю.</div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>10.</td>
                                                        <td>МЕЛЬНІЧЕНКО Артем Олексійович</td>
                                                        <td><a href="http://127.0.0.1:8080/images/Melnichenko_rozr_ta_dosl_met_vuzn_chast_cukr_rozch.pptx" target="_blank">Розробка та дослідження методів і засобів визначення чистоти цукрових розчинів</a></td>
                                                        <td>
                                                            <div align="center">к.т.н., доц., Юрчук Л.Ю.</div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>11.</td>
                                                        <td>МЕНЬШИКОВ Олександр Леонідович</td>
                                                        <td><a href="http://127.0.0.1:8080/images/Menshikov_upr_misk_transp_na_mod_neyr_merez.pptx" target="_blank">Управління міським транспортом на моделях нейронних мереж</a></td>
                                                        <td>
                                                            <div align="center">к.т.н., доц..<br />Покровський Є.О.</div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>12.</td>
                                                        <td>МОЖАРОВСЬКИЙ Павло Федорович</td>
                                                        <td>Управління надійністю функціо-нування корпоративної інформа-ційно-телекомунікаційної системи</td>
                                                        <td>
                                                            <div align="center">к.т.н., доц., Ролік О.І.</div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>13.</td>
                                                        <td>ПАТРУШЕВА Валерія Геннадіївна</td>
                                                        <td><a href="http://127.0.0.1:8080/images/Patrusheva_protocol_bezp_marshr_v_mmc.ppt" target="_blank">Протокол безпечної маршрутизації в мобільних безпровідних мережах з використанням репутацій</a></td>
                                                        <td>
                                                            <div align="center">к.т.н, доц.<br />Покровський Є.О.</div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>14.</td>
                                                        <td>ПЕТРУЩЕНКО Дмитро Петрович</td>
                                                        <td><a href="http://127.0.0.1:8080/images/Petrushenko_modeluv_lin_dil_trubopr.ppt" target="_blank">Моделювання лінійної ділянки трубопроводу на обчислювальному кластері</a></td>
                                                        <td>
                                                            <div align="center">к.т.н., доц., Чемерис О.А.</div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>15.</td>
                                                        <td>ПРИЙМАК Ігор Анатолійович</td>
                                                        <td><a href="http://127.0.0.1:8080/images/Priymak_sintez_syst_upr_z_zapizn.pptx" target="_blank">Аналіз і синтез систем із запізненням</a></td>
                                                        <td>
                                                            <div align="center">к.т.н., доц., Репнікова Н.Б.</div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>16.</td>
                                                        <td>ПУГАЧОВ Олексій Станіславович</td>
                                                        <td><a href="http://127.0.0.1:8080/images/Pygachov_Struct_spec_proc_z_mdpa.pptx" target="_blank">Структура спеціалізованого проце-сора із модифікованою детер-мінованою потоковою архітектурою</a></td>
                                                        <td>
                                                            <div align="center">к.т.н., доц., Новацький А.О.</div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>17.</td>
                                                        <td>СВІРГУН Євген Іванович</td>
                                                        <td>Алгоритм синтезу оптимальних та адаптивних систем</td>
                                                        <td>
                                                            <div align="center">к.т.н., доц., Репнікова Н.Б.</div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>18.</td>
                                                        <td>СЕМЕРИЧ Петро Юрійович</td>
                                                        <td>Побудова корпоративної мережі передавання даних</td>
                                                        <td>
                                                            <div align="center">к.т.н., доц., Полторак В.П</div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>19.</td>
                                                        <td>СЕРБІН Володимир Олександрович</td>
                                                        <td><a href="http://127.0.0.1:8080/images/Serbin_analiz_i_synt_PID-zakoniv_regul.pptx" target="_blank">Аналіз і синтез ПІД-законів регулювання</a></td>
                                                        <td>
                                                            <div align="center">к.т.н., доц., Репнікова Н.Б.</div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>20.</td>
                                                        <td>ФІАЛКОВСЬКИЙ Євген Володимирович</td>
                                                        <td>Інструментальне середовище для проектування та синтезу розріджених нейронних мереж</td>
                                                        <td>
                                                            <div align="center">д.ф.-м.н., проф., Дорошенко А.Ю.</div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>21.</td>
                                                        <td>ЦВЄЛОДУБ Андрій Олександрович</td>
                                                        <td><a href="http://127.0.0.1:8080/images/Cvelodub_tehnol_shv_prototup_y_rozr_ker_prustr_syst_upr.pptx" target="_blank">Технологія швидкого прототипу-вання у розробці керуючих пристроїв систем управління</a></td>
                                                        <td>
                                                            <div align="center">к.т.н., доц., Кравець П.І.</div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>22.</td>
                                                        <td>ЯЦУК Сергій Володимирович</td>
                                                        <td><a href="http://127.0.0.1:8080/images/Yacuk_zastos_neyr_mer_do_rozp_nom_znakiv_avt.ppsx" target="_blank">Застосування згорточних нейрон-них мереж до розпізнавання номерних знаків автомобілів</a></td>
                                                        <td>
                                                            <div align="center">к.т.н., доц., Полторак В.П</div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>23.</td>
                                                        <td>ЯШИН Володимир Євгенович</td>
                                                        <td><a href="http://127.0.0.1:8080/images/Yashin_zastos_yzag_neyr_merez_v_syst_ident_lud.pdf" target="_blank">Застосування узагальнених згор-точних нейронних мереж в системах ідентифікації людини</a></td>
                                                        <td>
                                                            <div align="center">к.т.н., доц., Полторак В.П</div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td align="right">&nbsp;</td>
                        <td align="left">&nbsp;</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>&nbsp;</div>
        <div>
            @Html.Action("FooterStringUncos", "News")
        </div>
    </div>
</div>