@{
	ViewBag.Title = GlobalRes.AboutDepartment;
}


<div class="row" id="1123">
        @Html.Partial("DepartmentNav")
	<div class="col-md-9 mainColumns" role="main"  id="about"> 
			<div class="c__block-title">Про кафедру</div>
			<div class="c__block-content">
				<p>
					Однією з провідних кафедр України, діяльність випускників яких пов’язана з інформатизацією, є кафедра Автоматики та Управління в Технічних Системах факультету Інформатики та Обчислювальної Техніки Національного Технічного Університету України “Київський політехнічний інститут”.<br />
					Особливістю підготовки наших випускників є глибоке вивчення найсучасніших високотехнологічних галузей науки і техніки: Інформаційних технологій; комп&#8217;ютерної, мікропроцесорної техніки та електроніки; систем та мереж передачі даних і телекомунікацій; комп&#8217;ютеризованих систем управління. Наші студенти отримують грунтовні знання з: програмування (алгоритмічні мови та програмування, об&#8217;єктно-орієнтоване програмування, сучасні технології програмування, системне програмування, бази даних, операційні системи, WEB-технології тощо);
				</p>
				<p>математики (вища математика, дискретна математика, теорія ймовірності і матстатистика, алгоритміка, основи штучного інтелекту, дослідження операцій та математичне програмування тощо);</p>
				<p>теорії і засобів телекомунікації (теорія інформації і кодування, цифрова обробка сигналів, основи теорії інформаційних процесів, захист інформації та комп&#8217;ютерна криптографія, системи та мережі передачі даних, програмно-апаратні засоби телекомунікаційних систем та мереж, аналіз, моделювання, експлуатація, моніторинг та адміністрування телекомунікаційних мереж і системтощо);</p>
				<p>комп&#8217;ютерної та мікропроцесорної техніки (електроніка і мікросхемотехніка, комп&#8217;ютерна електроніка, мікропроцесорні пристрої, архітектура комп&#8217;ютерних систем і мереж, системи розподіленних та паралельних обчислень, проектування та програмування мікропроцесорних системтощо);</p>
				<p>теорії та систем управління (теорія автоматичногоуправління, системний аналіз об&#8217;єктів і процесів комп&#8217;ютеризації, цифрові системи управління, оптимальні та адаптивні системи, банківскі та спеціалізовані системи та мережі, інтегровані корпоративні інформаційно-управляючі системи тощо);</p>
				<p>проектування (сучасні технології, проектування пристроїв систем управління, надійність і діагностика, мережеві технології в управлінні технічними системами, проектування та моделювання комп&#8217;ютерних мереж і комп&#8217;ютеризованих систем управліннятощо).</p>
				<p>Все це можливо в рамках спеціальності “Системи управління і автоматики” (д,б\в). В рамках цієї спеціальності є спеціалізації: “Управління інформаційними процесами” і “Комп&#8217;ютеризовані локальні системи та мережі перетворення та обробки інформації”.</p>
				<p>
					Кафедра автоматики та управління в технічних системах готує: бакалаврів з напрямку “Комп`ютеризовані системи, автоматика та управління”;<br />
					спеціалістів та магістрів з систем управління і автоматики, яким присвоюється кваліфікація відповідно інженера та магістра з комп&#8217;ютерних систем.
				</p>
				<p>
					Діяльність фахівців направлена на дослідження, створення та впровадження: комп&#8217;ютеризованих систем управління;<br />
					мікропроцесорних систем та автоматики;<br />
					телекомунікаційних систем та мереж в управлінні;<br />
					комп&#8217;ютеризованих локальних систем та мереж.
				</p>
				<p>Види діяльності випускників в сфері інформатизації: організаційно-управлінська, дослідницька, виробничо-технологічна, проектно-конструкторська.</p>
				<p>Місця працевлаштування випускників: наукові, аналітичні, проектні, дослідницькі, виробничі організації та установи державної та недержавної форм власності в: промисловості, паливно-енергетичному комплексі, освіті та науці, транспорті та зв&#8217;язку, обслуговуванні, охороні здоров&#8217;я, кредитно-фінансовій сфері, управлінні.</p>
				<p>Випусники працюють як спеціалісти з комп&#8217;ютеризованих систем управління, обробки даних та програмування, захисту інформації, розробки і використання мікроконтролерів різного призначення, як адміністратори комп&#8217;ютерних мереж, менеджери проектів, інженери-налагоджувальники, випробувачі складного електронного, комп&#8217;ютерного та автоматичного обладнання, а також як інженери-дослідники.</p>
				<p>Кафедра АУТС оснащена сучасною технікою. Кожний студент має можливість самостійно працювати у визначений час в лабораторіях (систем передачі даних і телекомунікацій; комп&#8217;ютеризованих систем управління і автоматики; мікропроцесорної техніки і електроніки) та дисплейних класах кафедри на персональних комп&#8217;ютерах (Pentium, Celeron), об&#8217;єднаних локальною обчислювальною мережею, що дозволяє йому всебічно вивчати найновіші досягнення у галузі інформаційних технологій, дає можливість працювати у всесвітній комп&#8217;ютерній мережі Internet.</p>
				<p>Після 4-го курсу паралельно з основною спеціальністю студенти (за бажанням) можуть отримати за 2 роки (вечірня форма навчання за контрактом) кваліфікацію менеджера-маркетолога за спеціальністю “Маркетинг” або бакалавраперекладача.</p>
			</div>
		</div>
	</div>	 
