@{
    ViewBag.Title = GlobalRes.HomeIndexTitle;
    ViewBag.CurrentPage = "main";
}


<div class="row">
    @Html.Partial("DepartmentNav")
    <div class="col-md-9 mainColumns" role="main" id="about">
        <div class="c__block-title">@GlobalRes.Department @GlobalRes.ACTS</div>
        <div class="c__block-content" style="padding:5px 10px 10px 10px;text-align:justify">
            <p>
                <img style="padding-left:10px;margin-top:-5px; border:none" class="presentation" src="http://acts.kpi.ua/app/uploads/2015/07/1243340344_kpi_korpus01.jpg" alt="" width="280px" height="100%" />
                <span style="margin-left:2em"></span>Однією з провідних кафедр України, діяльність випускників яких пов’язана з інформатизацією, є кафедра Автоматики та Управління в Технічних Системах факультету Інформатики та Обчислювальної Техніки Національного Технічного Університету України “Київський політехнічний інститут”.<br />
            <p>
                <span style="margin-left:2em"></span>Особливістю підготовки наших випускників є глибоке вивчення найсучасніших високотехнологічних галузей науки і техніки: Інформаційних технологій; комп&#8217;ютерної, мікропроцесорної техніки та електроніки; систем та мереж передачі даних і телекомунікацій;
                комп&#8217;ютеризованих систем управління. Наші студенти отримують грунтовні знання з:
            </p>
            <ul>
                <li>програмування (алгоритмічні мови та програмування, об&#8217;єктно-орієнтоване програмування, сучасні технології програмування, системне програмування, бази даних, операційні системи, WEB-технології тощо);</li>
                <li>математики (вища математика, дискретна математика, теорія ймовірності і матстатистика, алгоритміка, основи штучного інтелекту, дослідження операцій та математичне програмування тощо);</li>
                <li>теорії і засобів телекомунікації (теорія інформації і кодування, цифрова обробка сигналів, основи теорії інформаційних процесів, захист інформації та комп&#8217;ютерна криптографія, системи та мережі передачі даних, програмно-апаратні засоби телекомунікаційних систем та мереж, аналіз, моделювання, експлуатація, моніторинг та адміністрування телекомунікаційних мереж і системтощо);</li>
                <li>комп&#8217;ютерної та мікропроцесорної техніки (електроніка і мікросхемотехніка, комп&#8217;ютерна електроніка, мікропроцесорні пристрої, архітектура комп&#8217;ютерних систем і мереж, системи розподіленних та паралельних обчислень, проектування та програмування мікропроцесорних системтощо);</li>
                <li>теорії та систем управління (теорія автоматичногоуправління, системний аналіз об&#8217;єктів і процесів комп&#8217;ютеризації, цифрові системи управління, оптимальні та адаптивні системи, банківскі та спеціалізовані системи та мережі, інтегровані корпоративні інформаційно-управляючі системи тощо);</li>
                <li>проектування (сучасні технології, проектування пристроїв систем управління, надійність і діагностика, мережеві технології в управлінні технічними системами, проектування та моделювання комп&#8217;ютерних мереж і комп&#8217;ютеризованих систем управліннятощо).</li>
            </ul>
            <p><span style="margin-left:2em"></span>Все це можливо в рамках спеціальності “Системи управління і автоматики” (д,б\в). В рамках цієї спеціальності є спеціалізації: “Управління інформаційними процесами” і “Комп&#8217;ютеризовані локальні системи та мережі перетворення та обробки інформації”.</p>
            <p>
                <span style="margin-left:2em"></span>Кафедра автоматики та управління в технічних системах готує: бакалаврів з напрямку “Комп`ютеризовані системи, автоматика та управління”;<br />
                спеціалістів та магістрів з систем управління і автоматики, яким присвоюється кваліфікація відповідно інженера та магістра з комп&#8217;ютерних систем.
            </p>
            <p>
                <span style="margin-left:2em"></span>Діяльність фахівців направлена на дослідження, створення та впровадження: комп&#8217;ютеризованих систем управління;<br />
                мікропроцесорних систем та автоматики;<br />
                телекомунікаційних систем та мереж в управлінні;<br />
                комп&#8217;ютеризованих локальних систем та мереж.
            </p>
            <p><span style="margin-left:2em"></span>Види діяльності випускників в сфері інформатизації: організаційно-управлінська, дослідницька, виробничо-технологічна, проектно-конструкторська.</p>
            <p><span style="margin-left:2em"></span>Місця працевлаштування випускників: наукові, аналітичні, проектні, дослідницькі, виробничі організації та установи державної та недержавної форм власності в: промисловості, паливно-енергетичному комплексі, освіті та науці, транспорті та зв&#8217;язку, обслуговуванні, охороні здоров&#8217;я, кредитно-фінансовій сфері, управлінні.</p>
            <p><span style="margin-left:2em"></span>Випусники працюють як спеціалісти з комп&#8217;ютеризованих систем управління, обробки даних та програмування, захисту інформації, розробки і використання мікроконтролерів різного призначення, як адміністратори комп&#8217;ютерних мереж, менеджери проектів, інженери-налагоджувальники, випробувачі складного електронного, комп&#8217;ютерного та автоматичного обладнання, а також як інженери-дослідники.</p>
            <p><span style="margin-left:2em"></span>Кафедра АУТС оснащена сучасною технікою. Кожний студент має можливість самостійно працювати у визначений час в лабораторіях (систем передачі даних і телекомунікацій; комп&#8217;ютеризованих систем управління і автоматики; мікропроцесорної техніки і електроніки) та дисплейних класах кафедри на персональних комп&#8217;ютерах (Pentium, Celeron), об&#8217;єднаних локальною обчислювальною мережею, що дозволяє йому всебічно вивчати найновіші досягнення у галузі інформаційних технологій, дає можливість працювати у всесвітній комп&#8217;ютерній мережі Internet.</p>
            <p><span style="margin-left:2em"></span>Після 4-го курсу паралельно з основною спеціальністю студенти (за бажанням) можуть отримати за 2 роки (вечірня форма навчання за контрактом) кваліфікацію менеджера-маркетолога за спеціальністю “Маркетинг” або бакалавраперекладача.</p>
            <div style="clear: both;"></div>
            <div class="entry-hot" style="background-color: #dd5151; color: #fff; text-align: center; padding: 5px 15px; margin-top: 35px; border-radius: 3px; font: 300 18px/40px Roboto Slab,Georgia,Times,serif;">
                Гаряча лінія відбіркової комісії ФІОТ: <span style="font-weight: 400; padding-left: 5px;">066-341-89-60</span>
            </div>
        </div>
        @Html.Action("FooterStringUncos", "News")
    </div>
</div>
