@{
    ViewBag.Title = GlobalRes.History; 
}

<div class="row">
    @Html.Partial("DepartmentNav")
    <div class="col-md-9 mainColumns content-col" style="background-color:rgba(255, 255, 255, 0.4);" role="main"> 
            <div class="c__block-title">@GlobalRes.History</div>
            <div class="c__block-content">
                <p>
                    Історія кафедри АУТС починається з 1945 року, коли було засновано кафедру “Реле і автоматики”. В 1963 р. вона отримала назву “Автоматики і телемеханіки”, а в 1988 р. – “Автоматики та управління в технічних системах” (АУТС). Кафедра “Реле і автоматики” відокремилась зі складу кафедри центральних електричних станцій для підготовки фахівців з електричних та телемеханічних пристроїв.<br />
                    На протязі свого існування кафедра розвивалася в освітньому і науковому напрямках, освоюючи все складніші досягнення наукового й технічного прогресу у сфері управління в технічних системах.
                </p>
                <p>Окрім основної діяльності – підготовки фахівців зі своєї галузі, на кафедрі виконувалась значна методична і наукова робота. Кафедра тісно співпрацювала з підприємствами й інститутами, виконуючи значні об’єми господарських робіт. Кафедру “Реле і Автоматики” було засновано в КПІ 23 серпня 1945 р. на електроенергетичному факультеті (наказ ©2193К всесоюзної комісії зі справ Вищої Школи при РНК СРСР).</p>
                <p>Засновник кафедри професор Гребень Йосиф Ілліч (1897-1973), закінчив КПІ у 1925 році, доцент з 1930 р., а з 1932 професор і завідуючий кафедри електричних станцій, з 1945 р. по 1966 р. завідуючий кафедри автоматики.</p>
                <p>
                    Завідуючі кафедри і терміни їх перебування на посаді:<br />
                    Гребень Йосиф Ілліч – зав. кафедри 1945-1966 рр.<br />
                    Катков Федір Олександрович – зав. кафедри 1966-1983 рр.<br />
                    Краснопрошина Аіда Андрійовна – зав. кафедри 1983-2000 рр.<br />
                    Теленик Сергій Федорович – зав. кафедри 2001 р. – теперішній час.
                </p>
                <p>
                    Кафедра готує фахівців з таких спеціальностей:<br />
                    1945-1958 -“Автоматичні і телемеханічні пристрої”;<br />
                    1959-1988 – “Автоматика і телемеханіка”;<br />
                    1989-1994 – “Комп’ютеризовані системи управління автоматики”;<br />
                    1995- на даний момент – “Системи управління і автоматики”;<br />
                    З 1997 р. – дві спеціалізації: “Управління інформаційними процесами” і “Комп’ютеризовані локальні системи і мережі передачі й обробки інформації”.
                </p>
                <p>За 60 років свого існування кафедра підготувала близько 5400 спеціалістів.</p>
                <p>Педагогічні школи кафедри:</p>
                <p>Професор Гребень І.І.</p>
                <ul>
                    <li>Період заснування 1945-1968 рр.</li>
                    <li>Головна концепція: теорія та засоби контролю технологічних процесів.</li>
                </ul>
                <p>Професор Катков Ф.О.</p>
                <ul>
                    <li>Період заснування 1963-1983 рр.</li>
                    <li>Головна концепція: елементи і системи телемеханіки.</li>
                </ul>
                <p>Професор Краснопрошина А.А.</p>
                <ul>
                    <li>період заснування: 1983-1997 рр.</li>
                    <li>Головна концепція: теорія і системи управління. Створення нової спеціалізації: управління інформаційними процесами.</li>
                </ul>
                <p>Професор Сердюк Г.Б.</p>
                <ul>
                    <li>Період заснування 1971-1999 рр.</li>
                    <li>Головна концепція: технічна діагностика і надійність електронних пристроїв.</li>
                </ul>
                <p>Професор Жураковський Ю.П.</p>
                <ul>
                    <li>Період заснування 1981-2000 рр.</li>
                    <li>Головна концепція: теорія і засоби обробки і передачі інформації, створення нової спеціалізації: комп’ютеризовані локальні системи обробки і передачі інформації.</li>
                </ul>
                <p>Потреби народного господарства формували наукові інтереси співробітників кафедри в галузі розвитку інформатики – науки, яка вивчає процеси передачі і обробки інформації в технічних системах. Крім того, у зв’язку з загальною необхідністю використання Обчислювальної техніки в області автоматики на кафедрі були підготовлені кадри (проф. Самофалов К.Г. та інші), які створили нову кафедру обчислювальної техніки (1960 р.). У процесі розвитку пристроїв і систем автоматики з&#8217;явилась необхідність в створенні виключно нових механічних систем – систем управління: кафедра знову підготувала фахівців (проф. Костюк В.И. та інші), які заснували кафедру Технічної кібернетики (1969 р.).</p>
            </div>
        </div>
</div>