
@{
    ViewBag.Title = GlobalRes.OurGraduates;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    @Html.Partial("DepartmentNav")
    <div class="col-md-9 mainColumns" role="main">
        <div class="pageTitle">
            @GlobalRes.OurGraduates
        </div>
        <div class="pageContent">
            @GlobalRes.Undone
        </div>
    </div>
</div>