@model IEnumerable<ACTS.Core.Entities.Teacher>
@{ 
    var Head = ACTS.Core.Entities.Rank.Head;
    var FirstVice = ACTS.Core.Entities.Rank.FirstVice;
}
<div class="row">
    @Html.Partial("DepartmentNav")
    <div class="col-md-9 mainColumns" role="main">
        @{
            foreach (var teacher in Model)
            {
                if (teacher.Rank == Head || teacher.Rank == FirstVice)
                {
                    <div class="col-md-12">
                        @Html.Partial("personInfo", teacher)
                    </div>
                }
            }
        }
    </div>
</div>