@{
	ViewBag.CurrentPage = Path.GetFileNameWithoutExtension(Server.MapPath(VirtualPath));
	ViewBag.Title = GlobalRes.Dashboard;
}

<div class="row">
	<div class="col-xs-12">
		<h1>@GlobalRes.InDevelopment</h1>
	</div>
</div>