@{
    ViewBag.Title = GlobalRes.HowToFind;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="c__block">
    <div class="c__block-title">@GlobalRes.HowToFind</div>
    <div class="c__block-holder">
    </div>
    <div class="c__block-content">
        <p>
            <strong>Наша адреса</strong><br />
            Україна, м.Київ, вул.Політехнічна 126.<br />
            тел.: (044) 236-42-99, 241-70-39, 441-16-57
        </p>
        <div class="embed-responsive embed-responsive-16by9" style="margin-bottom:20px">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2540.667903479507!2d30.453796373528906!3d50.447286189687055!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4ce9d8264d557%3A0x825b6dc299390a2b!2z0JrQsNGE0LXQtNGA0LAgItCQ0LLRgtC-0LzQsNGC0LjQutCwINGC0LAg0YPQv9GA0LDQstC70ZbQvdC90Y8g0LIg0YLQtdGF0L3RltGH0L3QuNGFINGB0LjRgdGC0LXQvNCw0YUi!5e0!3m2!1sru!2sua!4v1450678276618" width="600" height="450" frameborder="0" style="border:0" allowfullscreen class="embed-responsive-item"></iframe>
        </div>
    </div>
</div>