@{
	ViewBag.Title = GlobalRes.HomeIndexTitle;
	ViewBag.CurrentPage = "main";
}

<div class="c__block">
	<h2 class="c__block-title">Про кафедру АУТС</h2>
	<p><img class="presentation" src="http://acts.kpi.ua/app/uploads/2015/07/1243340344_kpi_korpus01.jpg" alt="" width="250px" />Однією з провідних кафедр України, діяльність випускників яких пов’язана з інформатизацією, є кафедра Автоматики та Управління в Технічних Системах факультету Інформатики та Обчислювальної Техніки Національного Технічного Університету України “Київський політехнічний інститут”.</p>
	<p>Особливістю підготовки наших випускників є глибоке вивчення найсучасніших високотехнологічних галузей науки і техніки: Інформаційних технологій; комп&#8217;ютерної, мікропроцесорної техніки та електроніки; систем та мереж передачі даних і телекомунікацій; комп&#8217;ютеризованих систем управління. Наші студенти отримують грунтовні знання з: програмування (алгоритмічні мови та програмування, об&#8217;єктно-орієнтоване програмування, сучасні технології програмування, системне програмування, бази даних, операційні системи, WEB-технології тощо);</p>
	<div style="clear: both;"></div>
	<div class="entry-hot" style="background-color: #dd5151; color: #fff; text-align: center; padding: 5px 15px; margin-top: 35px; border-radius: 3px; font: 300 18px/40px Roboto Slab,Georgia,Times,serif;">Гаряча лінія відбіркової комісії ФІОТ: <span style="font-weight: 400; padding-left: 5px;">066-341-89-60</span></div>
</div>