
<div class="container">
    <div class="col-md-3">
        <li><a href="http://www.ti.com/" target="_blank"><img src="http://acts.kpi.ua/app/uploads/2015/07/ti.png" /></a></li>
        <li><a href="http://www.microsoft.com/" target="_blank"><img src="http://acts.kpi.ua/app/uploads/2015/07/ms.png" /></a></li>
    </div>
    <div class="col-md-6">
    </div>
    <div class="col-md-3">
        <p>Телефони: <br />+380 (44) 406 86 10<br />                                        +380 (44) 454 92 85</p>
        <p>Пошта: <br />kafedra@acts.kpi.ua</p>
    </div>
</div> 

