@using Microsoft.AspNet.Identity

<div class="user-panel">
	<div class="pull-left image">
		<img src="~/Content/Images/icon-admin_user-blue.png" class="img-circle" alt="Admin Image" />
	</div>
	<div class="pull-left info">
		<p>@User.Identity.GetUserName()</p>
		<a>@GlobalRes.Administrator</a>
	</div>
</div>