
@{
    ViewBag.Title = GlobalRes.FAQ;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    @Html.Partial("ForEnrolleeNav")
    <div class="col-md-9 mainColumns content-col" style="background-color:rgba(255, 255, 255, 0.4);" role="main">
        <div class="c__block-title">
            @GlobalRes.FAQ
        </div>
        <div class="c__block-holder">&nbsp;</div>
        <div class="c__block-holder">&nbsp;</div>
        <div class="c__block-content">
            <p>&nbsp;</p>
            <table border="0" cellspacing="0" cellpadding="0">
                <tbody>
                    <tr>
                        <td valign="top">
                            <ol>
                                <li><strong>Коли у вас проходять дні відкритих дверей?</strong><br />Відповідь: факультетські дні відкритих дверей будуть проведені 4 квітня 2012 року з 16.00 до 18.00 та 28 квітня 2012 року з 12.00 до 14.00 в ауд. 339, 18 корпус НТУУ &laquo;КПІ&raquo;.</li>
                                <li><strong>За яким напрямком ви готуєте бакалаврів?</strong><br />Відповідь: на кафедрі АУТС здійснюється підготовка бакалаврів за напрямом &laquo;Системна інженерія&raquo; 6.050201.</li>
                                <li><strong>У вас на кафедрі є магістратура?</strong><br />Відповідь: так, кафедра готує магістрів з комп&rsquo;ютерних систем за спеціальністю &laquo;Комп&rsquo;ютеризовані системи та автоматика&raquo; (8.050201.01).</li>
                                <li>
                                    <strong>Скільки коштує навчання на контракті?</strong><br />Відповідь: в 2012 році вартість ще не визначена.<br />Приводимо дані за 2011 рік:
                                    <p>&nbsp;</p>
                                    <ul>
                                        <li>вартість за один рік навчання для бакалаврів (контракт на 1-4 курс) &ndash; 14730 грн;</li>
                                        <li>вартість за один рік навчання для спеціалістів та магістрів (контракт на 5,6 курс) &ndash; 16365 грн;</li>
                                        <li>вартість контракту за один рік навчання для студентів заочної форми для всіх рівнів &ndash; 8730 грн.</li>
                                    </ul>
                                </li>
                                <li><strong>Чи може підвищитися вартість навчання з часом?</strong><br />Відповідь: ні, вартість лишається сталою для всього періоду часу, для бакалаврів &ndash; це 1-4 курс, для магістрів та спеціалістів &ndash; 5-6 курс. Але у випадку, якщо студент був відрахований і перезаключає контракт, вартість навчання буде відповідати встановленій для поточного навчального року.</li>
                                <li><strong>Коли починається прийом документів?</strong><br />Відповідь: початок прийом документів та заяв у приймальній комісії &ndash; це 2 липня 2012 року.</li>
                                <li><strong>Де я можу дізнатися про етапи вступної кампанії в НТУУ &laquo;КПІ&raquo;?</strong><br />Відповідь: детальна інформація надана в цьому розділі: http://kpi.ua/rule</li>
                                <li><strong>Чи потрібно нотаріально завіряти копії моїх документів?</strong><br />Відповідь: і, не потрібно, всі копії завіряються працівниками приймальної комісії на місці, але лише за наявності оригіналів.</li>
                                <li><strong>Якщо я закінчив школу до 2007 року, чи потрібно мені здавати ЗНО?</strong><br />Відповідь: ви маєте право або здати ЗНО, або скласти вступні іспити в НТУУ &laquo;КПІ&raquo;.</li>
                                <li><strong>Які у вас профільні дисципліни?</strong><br />Відповідь: при вступі профільними дисциплінами є математика та фізика.</li>
                                <li><strong>Скільки балів мінімум я маю набрати за результатами ЗНО?</strong><br />Відповідь: з української мови (непрофільний предмет) &ndash; 124 бали, з математики, фізики (профільні предмети) &ndash; один не менше за 150 балів, за умови, що другий не менший за 140 балів.</li>
                                <li>
                                    <strong>Розкажіть, будь ласка, про гуртожитки для студентів вашої кафедри?</strong><br />Відповідь: гуртожитки, в яких проживають студенти кафедри:
                                    <p>&nbsp;</p>
                                    <ul>
                                        <li>гуртожиток № 3 (закріплений за ФІОТ)<br />вул. Янгеля, 22<br />завідувач гуртожитком Лозинська Лідія Іванівна,<br />тел. (044) 454-92-66;</li>
                                        <li>гуртожиток № 8 (закріплений за ФІОТ та ФАКС)<br />вул. Виборзська, 6<br />завідувач гуртожитком Тимошенко Надія Володимирівна,<br />тел. (044) 456-25-86.<br />Кімнати в гуртожитках № 3 та № 8 4-місні.</li>
                                    </ul>
                                </li>
                                <li><strong>Чи можу я дізнатися про результати набору студентів в минулому році?</strong><br />Відповідь: конкурс на напрям &ldquo;Системна інженерія&rdquo; (кафедра АУТС) &ndash; 5,11 абітурієнтів на місце.<br />Прохідний бал на бюджет &ndash; 720,2.<br />Вступило в 2011 році.<br />Денна форма:<br />бюджет &ndash; 47<br />контракт &ndash; 5<br />Заочна форма:<br />бюджет &ndash; 6<br />контракт &ndash; 1.</li>
                                <li>
                                    <strong>Які документи мені потрібно подавати?</strong><br />Відповідь:
                                    <p>&nbsp;</p>
                                    <ul>
                                        <li>документ державного зразка про раніше здобутий освітній (освітньо-кваліфікаційний) рівень, на основі якого здійснюється вступ, і додаток до нього, за особистим вибором оригінали або копії;</li>
                                        <li>сертифікат (сертифікати) Українського центру оцінювання якості освіти (для вступників на основі повної загальної середньої освіти), за особистим вибором оригінали або копії;</li>
                                        <li>копію документа, що посвідчує особу та громадянство;</li>
                                        <li>медичну довідку за формою 086-о (086-у) або її копію;</li>
                                        <li>шість кольорових фотокарток розміром 3 х 4 см;</li>
                                        <li>два поштові конверти з марками;</li>
                                        <li>копію ідентифікаційного коду.</li>
                                    </ul>
                                </li>
                                <li><strong>Де я можу ознайомитися з правилами прийому в НТУУ &laquo;КПІ&raquo;?</strong><br />Відповідь: повна та актуальна інформація знаходиться за посиланням: http://kpi.ua/admission</li>
                                <li><strong>Скільки треба платити за гуртожиток?</strong><br />Відповідь: Студенти сплачують за проживання в гуртожитку (ліжко-місце) 159 грн на місяць</li>
                                <li><strong>Де знаходиться приймальна комісія вашого факультету?</strong><br />Відповідь: Адреса: вул. Політехнічна, 41, 18 корпус НТУУ &laquo;КПІ&raquo;, ауд. 339</li>
                                <li><strong>Хто буде представляти кафедру в приймальній комісії?</strong><br />Відповідь: асистент кафедри АУТС Борцова Ольга Михайлівна</li>
                                <li>
                                    <strong>Чи маєте ви достатню кількість комп&rsquo;ютерів для студентів?</strong><br />Відповідь: так, студенти повністю забезпечені комп&rsquo;ютерами.
                                    <p>&nbsp;</p>
                                    <ul>
                                        <li>Кількість комп&rsquo;ютерів, задіяних у навчальному процесі: 204 (на кожного студента припадає 0,5 комп&rsquo;ютера, при нормі 0,12);</li>
                                        <li>Кількість робочих місць у лабораторіях і дисплейних класах: 330 (на кожного студента денної форми припадає одне робоче місце).</li>
                                    </ul>
                                </li>
                                <li><strong>Розкажіть про оснащеність ваших лабораторій?</strong><br />Відповідь: на кафедрі 14 навчальних лабораторій, з них 2 дисплейні класи. Локальна мережа кафедри включає 11 серверів, 260 робочих станцій, 75 комутаторів, з них 5 точок бездротового доступу Wi-Fi. Студенти та викладачі кафедри мають доступ до мережі Internet на 3, 4 та 5 поверхах корпусу.</li>
                            </ol>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            @Html.Action("FooterStringUncos", "News")
        </div>
    </div>
</div>

