
@{
    ViewBag.Title = GlobalRes.FDP;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    @Html.Partial("ForEnrolleeNav")
    <div class="col-md-9 mainColumns content-col" style="background-color:rgba(255, 255, 255, 0.4);" role="main">
        <div class="c__block-title">
            @GlobalRes.FDP
            <div class="c__block-holder">&nbsp;</div>
            <div class="c__block-content">
                <p>На факультет інформатики й обчислювальної техніки (ФІОТ) Національного технічного університету України &ldquo;Київський політехнічний інститут&rdquo; (НТУУ &ldquo;КПІ&rdquo;) функціонує відділення інституту доуніверситетської підготовки (ІДП) по професійній орієнтації.</p>
                <p>Здійснюється:</p>
                <ol>
                    <li>Підготовка з математики, фізики, української мови;</li>
                    <li>Професійне орієнтування з інформатики, обчислювальної техніки і програмування.</li>
                </ol>
                <p>&nbsp;</p>
                <p>Навчання у відділенні ІДП на ФІОТ дає можливість поліпшити ваші зания і підготуватися до надходження на ФІОТ чи інші факультети НТУУ &ldquo;КПІ&rdquo;.</p>
                <p>Прийом на курси ІДП на ФІОТ відбуваються з 1 липня до 30 вересня. Заняття починаються з 1 жовтня і проводяться три рази на тиждень. Тривалість кожного заняття &ndash; 3 академічних години. На курси приймаються учні десятих класів (для 2-річної підготовки) і учні одинадцятих класів (для 1-річної підготовки)</p>
                <p>Навчання на Відділенні платне. Оплата відбувається щомісяця з урахуванням індексації. Заняття відбуваються за поліпшеною методикою.</p>
                <p>Успішне завершення занять у Відділенні ІДП гарантує пільги які надає Приймальна комісія НТУУ &ldquo;КПІ&rdquo; слухачам Інституту Довузівської Підготовки.</p>
                <ol>
                    <li>Звернутися в каб. 316 (18 корпус) з 10:00 по 17:00 тел 441-18-00, 241-86-50.</li>
                    <li>При собі мати наступні документи:<br />&ndash; 4 фото (3х4)<br />&ndash; копію паспорта (свідоцтво про народження)<br />&ndash; 1 зошит (загальний)<br />&ndash; 3 файли</li>
                </ol>
            </div>
            <div>
                @Html.Action("FooterStringUncos", "News")
            </div>
        </div>
    </div>
</div>