@{
	var orderableListName = ViewData.ModelMetadata.PropertyName;
}

<div id="@orderableListName.ToLower()">
	@if (Model != null)
	{
		for (int i = 0, count = Model.Count; i < count; i++)
		{
			<div class="orderable-item">
				@Html.Hidden($"{orderableListName}[{i}].Order")
				<div class="input-group">
					@Html.Editor($"{orderableListName}[{i}].Value", new { htmlAttributes = new { @class = "form-control" } })
					<span class="input-group-addon js-remove"><i class="fa fa-remove"></i></span>
				</div>
				@Html.ValidationMessage($"{orderableListName}[{i}].Value", "", new { @class = "text-red" }, "p")
			</div>
		}
	}
</div>

<button id="addBtn@(orderableListName)" class="btn btn-flat btn-success" type="button">
	<i class="fa fa-plus"></i>&nbsp;Add item
</button>
