@model IList<ACTS.Core.Entities.Publication>
@{
	var orderableListName = ViewData.ModelMetadata.PropertyName;
}

<div id="@orderableListName.ToLower()">
	@if (Model != null)
	{
		for (int i = 0, count = Model.Count; i < count; i++)
		{
			@Html.EditorFor(m => m[i].Order, new { htmlAttributes = new { @class = "form-control col-md-3" } })
			<div class="input-group col-md-9">
				@Html.EditorFor(m => m[i].Value, new { htmlAttributes = new { @class = "form-control" } })
				<span class="input-group-addon js-remove"><i class="fa fa-remove"></i></span>
			</div>
		}
	}
</div>

	<button id="addBtn@(orderableListName)" class="btn btn-flat btn-success" type="button">
		<i class="fa fa-plus"></i>&nbsp;Add item
	</button>
