@model ACTS.UI.Areas.Peoples.Models.PersonalPageViewModel

@{
    ViewBag.Title = "PersonalPage"; 
    Layout = "~/Areas/Peoples/Views/Shared/_PersonalPageLayout.cshtml";
}
<div>
    <div class="tab-content" style="width:100%">
        <div class="tab-pane active" id="a">
            <h3>Who do you Love?</h3>
            <ul class="list-group pull-left">
                <li class="list-group-item">
                    <h4>Jen &nbsp; &nbsp;<span class="badge pull-right">100%</span></h4>
                </li>
                <li class="list-group-item">
                    <h4>Dezi &nbsp; &nbsp;<span class="badge pull-right">100%</span></h4>
                </li>
                <li class="list-group-item">
                    <h4>Eli &nbsp; &nbsp;<span class="badge pull-right">100%</span></h4>
                </li>
                <li class="list-group-item">
                    <h4>Mojo &nbsp; &nbsp;<span class="badge pull-right">83%</span></h4>
                </li>
                <li class="list-group-item">
                    <h4>Myself &nbsp; &nbsp;<span class="badge pull-right">100%</span></h4>
                </li>
            </ul>
        </div>
        <div class="tab-pane" id="b">
            <h3>What's your Favorite?</h3>
            <ul class="list-group pull-left">
                <li class="list-group-item">
                    <h4>Crystals &nbsp; &nbsp;<span class="badge pull-right">100%</span></h4>
                </li>
                <li class="list-group-item">
                    <h4>Healing &nbsp; &nbsp;<span class="badge pull-right">90%</span></h4>
                </li>
                <li class="list-group-item">
                    <h4>Exploring &nbsp; &nbsp;<span class="badge pull-right">78%</span></h4>
                </li>
                <li class="list-group-item">
                    <h4>QiGong &nbsp; &nbsp;<span class="badge pull-right">83%</span></h4>
                </li>
                <li class="list-group-item">
                    <h4>
                        Myself &nbsp; &nbsp;<span class="badge pull-right">100%</span>
                    </h4>
                </li>
            </ul>
        </div>
        <div class="tab-pane" id="c">CCCCThirdamuno, ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt condimentum vitae.</div>
        <div class="tab-pane" id="d">DDDDDSecondo sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. Aliquam in felis sit amet augue.</div>
        <div class="tab-pane" id="e">EEEEEThirdamuno, ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt condimentum vitae.</div>
        <div class="tab-pane" id="f">FFFFFFThirdamuno, ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt condimentum vitae.</div>
    </div><!-- /tab-content -->
</div><!-- /tabbable -->


