@model ACTS.UI.Areas.Peoples.Models.PersonalPageViewModel

@{
    ViewBag.Title = "PersonalPage"; 
    Layout = "~/Areas/Peoples/Views/Shared/_PersonalPageLayout.cshtml";
}
<div>
    <h2>Hello, @ViewBag.Teacher.FullName. How are you?</h2>
</div>


