@model IEnumerable<ACTS.Core.Entities.Teacher>
@{
    var Head = ACTS.Core.Entities.Rank.Head;
    var FirstVice = ACTS.Core.Entities.Rank.FirstVice;
}
<div>
    @{
        foreach (var teacher in Model)
        {
            if (teacher.Rank == Head||teacher.Rank==FirstVice)
            {
                <div class="col-md-12">
                    @Html.Partial("personInfo", )
                </div>
            }
            @Html.Partial("personInfo", teacher);
        }
    }
</div>
<p>This would be awesome page</p>
