@model ACTS.UI.Areas.Peoples.Models.PersonalPageViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        Dima prosto trindit!
    </div>
</body>
</html>
