
@{
    ViewBag.Title = GlobalRes.StudentRating;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    @Html.Partial("ForStudentNav")
    <div class="col-md-9 mainColumns" role="main">
        <div class="pageTitle">
            @GlobalRes.StudentRating
        </div>
        <div class="pageContent">
            @GlobalRes.Undone
        </div>
        <div>
            @Html.Action("FooterStringUncos", "News")
        </div>
    </div>
</div>
