
@{
    ViewBag.Title = GlobalRes.StudentCity;
    Layout = "~/Views/Shared/_Layout.cshtml";
}<div class="row">
    @Html.Partial("ForStudentNav")
    <div class="col-md-9 mainColumns" role="main">
        <div class="c__block-title">@GlobalRes.StudentCity</div>
        <div class="c__block-holder">&nbsp;</div>
        <div class="c__block-content">
            <div class="field-item even">
                <blockquote>
                    <p><a href="http://acts.kpi.ua/app/uploads/2015/11/3AOaz1-4FUg.jpg"><img class="alignnone size-full wp-image-1935 aligncenter" src="http://acts.kpi.ua/app/uploads/2015/11/3AOaz1-4FUg.jpg" alt="3AOaz1-4FUg" width="200" height="239" /></a></p>
                    <p>Директор студмістечка НТУУ &ldquo;КПІ&rdquo;: Іщенко Олександр Анатолійович<br />тел.: 454-92-31<br />Дирекція студмістечка НТУУ &ldquo;КПІ&rdquo;: 3 гуртожиток, 2 кабінет<br />Прийомні години: з 9 до 18, обід з 13 до 14</p>
                </blockquote>
                <hr />
                <p>&nbsp;<br />На території університету розташовано 20 гуртожитків, в яких проживають близько 12 тис. студентів, з них 1400 &ndash; іноземні студенти. Гуртожитки студмістечка за призначенням поділяються на 16 гуртожитків для одинаків, 3 сімейні гуртожитки та 1 гуртожиток для компактного проживання іноземців, які навчаються на підготовчому відділенні.</p>
                <p>На території студмістечка знаходяться спортивні майданчики, кафе, студентський ресторан, пральня, хімчистка, студентські дискоклуби, розташовано декілька продуктових магазинів, аптека. У студмістечку проведено локальну комп&rsquo;ютерну мережу з можливістю доступу до Інтернету, яка є в кожному з гуртожитків.</p>
                <p>У гуртожитках для студентів є робочі кімнати для занять, спортивні кімнати з відповідним обладнанням, буфети тощо.</p>
                <p>Усі гуртожитки компактно розташовані в кампусі університету, який примикає до паркової зони ( Солом&rsquo;янський район м.Києва).</p>
                <p>Гуртожитки для одинаків є коридорного типу та блочного типу. Кімнати розраховані на проживання 3-4 чоловік. В гуртожитках коридорного типу санвузли та кімнати з умивальниками розташовані на кожному поверсі в обох кінцях коридору.</p>
                <p>Душеві розташовані на першому поверсі. На кожному поверсі знаходяться по дві кухні.</p>
                <p>У гуртожитках блочного типу блок складається з двох або п&rsquo;яти кімнат. В кожному блоці окремо розташовані санвузол та душеві. У гуртожитках, де блок складається з п&rsquo;яти кімнат, кухня знаходиться в блоці, а в інших на кожному поверсі.</p>
                <p>Вартість проживання залежить від кількості проживаючих у кімнаті студентів, тому що за основу береться вартість 1 кв. м жилої площі і визначається кожного року за участю студентського профкому.</p>
                <p>У сімейних гуртожитках кімнати зроблені, як однокімнатні квартири.</p>
                <p>У кожному гуртожитку є буфети, робочі кімнати, де студенти мають змогу навчатися, проводити різні культурно-масові заходи та спортивні кімнати для занять спортом.</p>
                <p>На території студентського містечка розташовані: студентська поліклініка, студентська їдальня на 1000 місць, торгівельно-побутовий центр, аптеки, магазини, кафе, студентські клуби, дитячі та спортивні майданчики, а також відділення міліції та служби безпеки університету.</p>
                <p>Порядок поселення до гуртожитків студентів 1-го курсу визначається відповідним наказом ректора.</p>
                <p>Поселення починається з 25 серпня. Умови і порядок поселення розміщуються на сайті<a href="http://studprofkom.kpi.ua/">http://studprofkom.kpi.ua</a></p>
                <p>Посилання на всю потрібну інформацію можете знайти нижче:</p>
            </div>
        </div>

        <div class="field field-name-field-link field-type-link-field field-label-hidden">
            <div class="field-items">
                <div class="field-item even"><a href="http://kpi.ua/contacts">Телефони чергових та комендантів корпусів і гуртожитків КПІ</a></div>
                <div class="field-item odd"><a href="http://kpi.ua/location">Докладна інформація про розміщення корпусів, доїзд до Університету, Карта КПІ</a></div>
            </div>
        </div>
        <div class="field field-name-field-sublinks field-type-link-field field-label-hidden">
            <div class="field-items">
                <div class="field-item even"><a href="http://studprofkom.kpi.ua/studmisto">Умови поселення і проживання в гуртожиках КПІ, документи, тарифи</a></div>
                <div class="field-item odd"><a href="http://studprofkom.kpi.ua/gurtojitok">Гуртожитки студмістечка НТУУ &laquo;КПІ&raquo;, адреси, прізвища завідувачів, закріплення за факультетами</a></div>
                <div class="field-item even"><a href="http://studprofkom.kpi.ua/polojenie">Положення про поселення та проживання в гуртожитках студмістечка НТУУ &laquo;КПІ&raquo;</a></div>
                <div class="field-item odd"><a href="http://studprofkom.kpi.ua/Ugoda">Угода на проживання у гуртожитках НТУУ &laquo;КПІ&raquo;</a></div>
                <div class="field-item even"><a href="http://studprofkom.kpi.ua/settlement">Порядок поселення в гуртожитки КПІ</a></div>
                <div class="field-item odd"><a href="http://studprofkom.kpi.ua/family">Поселення до сімейних гуртожитків студмістечка НТУУ &laquo;КПІ&raquo;</a></div>
                <div class="field-item even"><a href="http://studprofkom.kpi.ua/255">Оплата за проживання у гуртожитках КПІ</a></div>
                <div class="field-item odd"><a href="http://studprofkom.kpi.ua/governed_hostle">Правила внутрішнього розпорядку в студентських гуртожитках НТУУ &laquo;КПІ&raquo;</a></div>
                <div class="field-item even"><a href="http://studprofkom.kpi.ua/docs/show/542">Розпорядження № 5-30 від 01.07.04 р. (поселення студентів з Київської області)</a></div>
            </div>
        </div>
    </div>
    <div>
        @Html.Action("FooterStringUncos", "News")
    </div>
</div>


   

