@model IEnumerable<ACTS.UI.Models.BlogMenuItem>
<div class="col-md-3">
    <nav class="nav-column">
        <ul class="nav navbar">
            @foreach (var item in Model)
            {
                <li>
                    @Html.ActionLink(item.Text, item.Action, item.RouteInfo)
                </li>
            }
        </ul>
    </nav>
</div>

