.navbar-form input, .form-inline input {
	width:auto;
}

/* end */

/* custom theme */

header {
	min-height:230px;
  	margin-bottom:5px;
}

.personalSideBar>li{
    background-color:#edf4fb;
    margin:5px;
    border-radius:3px 3px; 
}

.personalSideBar>li>a{
    color:black;
    padding:5px;
    
}
.personalSideBar>li.active>a:focus{
    background-color:blue;
}
.personName{
    width:100%;
    text-align:center;
    position:absolute;
    color:black;
    font:300 28px/30px "Roboto Slab",Georgia,Times,serif;
    font-size:30x;
    font-weight:400;
    font-variant:small-caps;
    color: black;
    padding:8px 5px 8px 5px; 
}
.personPosition{
    width:100%;
    text-align:center;
    position:absolute;
    color:black;
    font:300 14px/15px "Roboto Slab",Georgia,Times,serif;
    font-size:15px;
    font-weight:400;
    font-variant:small-caps;
    color: black;
    padding:40px 0 10px 0;
}

@media (min-width: 979px) {
  #sidebar.affix-top {
      position: static;
  }
  
  #sidebar.affix {
      position: fixed;
      top: 0;
      width:21.2%;
  }
}

.affix,.affix-top {
   position:static;
}

/* theme */

body {
  color:#828282;
  background-color:#ffffff;
}


a,a:hover {
	color:#f8f8f8;
  	text-decoration:none;
}

.highlight-bk {
	background-color:#f8f8f8;
    padding:1px;
    width:100%;
}


.highlight {
	color:#ff3333;
}
  
h3.highlight  {
	padding-top:13px;
    padding-bottom:14px;
  	border-bottom:2px solid #ff3333;
}

.navbar {
	background-color:#edf4fb;
  	color:#ffffff;
  	border-radius:0;
}
.navbar-nav > li > a {
  	color:black;
  	padding-left:20px;
  	padding-right:20px;
}
.navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
    color:#666666; 
}
.navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: #ffffff;
	background-color:transparent;
}
.navbar-nav > .open > a, .navbar-nav > .open > a:hover, .navbar-nav > .open > a:focus {
	color:#579ade;
	background-color:transparent;
  	opacity:.9;
    border-color:#ff3333;
}

.nav .open > a {
    border-color:#777777;
    border-width:0;
}

.accordion-group {
	border-width:0;
}

.dropdown-menu {
	min-width: 250px;
}

.accordion-heading .accordion-toggle, .accordion-inner, .nav-stacked li > a {
	padding-left:1px;
}

.caret {
	color:#fff;
}

.navbar-toggle {
	color:#fff;
    border-width:0;
}
  
.navbar-toggle:hover {
	background-color:#fff;
}

.panel {
	padding-left:27px;
    padding-right:0;
}
#sideTitle{
    margin-left:0px;
}
.tabs-left { margin-top: 3rem; }
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus{
  background-color:#f8f8f8;
}
.nav-tabs {
  float: left;
  border-bottom: 0;
  width:100%;
  li {
    float: none;
    margin: 0;
    
    a {
      margin-right: 0;
      border: 0;
      background-color: #333;
      
      &:hover {
        background-color: #444;
      }
      
      &.selected{
        background-color:#0000ff;
      }
    }
  }
  
  .glyphicon {
    color: #fff;
  }
  
  .active .glyphicon {
    color: #333;
  }
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
  border:0;
}

.tab-content {
  margin-left: 0;
  
  .tab-pane {
    display: none;
    background-color: #fff;
    padding: 1.6rem;
    overflow-y: auto;
  }
  
  .active { display: block; }
}

.nav-tabs>li>a{
    border:none;
    margin-right:0;
}
.list-group {
  width: 100%;
  
  .list-group-item {
    height: 50px;
    
    h4, span {
      line-height: 11px;
    }
  }
}