
@{
    ViewBag.Title = "ComputerizedControlSystems";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    @Html.Partial("ScienceNav")
    <div class="col-md-9 mainColumns content-col" style="background-color:rgba(255, 255, 255, 0.4);" role="main">
        <div class="c__block-title">Комп&rsquo;ютеризовані системи управління</div>
        <div class="c__block-holder">&nbsp;</div>
        <div class="c__block-content">
            <p>1.&nbsp;Загальний напрям&nbsp;</p>
            <p><strong>Комп&rsquo;ютеризовані системи управління.&nbsp;</strong></p>
            <p>2. Основні напрями розробок та досліджень:</p>
            <ul>
                <li>Дослідження методів вирішення оптимізаційних задач керування в системах з лінгвістичними та нейромережними моделями та проблем стійкості в умовах неповної інформації про об&rsquo;єкт управління;</li>
                <li>Розроблення систем енергозберігаючого управління складними теплотехнічними об&rsquo;єктами з розподіленими параметрами;</li>
                <li>Розроблення нейромережевих систем управління динамічними об&rsquo;єктами з апаратно-програмною реалізацією нейромережевих елементів системи;</li>
                <li>Розроблення методів та засобів проектування і реалізації оптимального та енергозберігаючого управління в багатооб&rsquo;єктних розподілених технічних комплексах;</li>
                <li>Проектування сучасних інтелектуальних систем автоматизації та диспетчеризації типу &laquo;Розумний дім&raquo;(Smart House);</li>
                <li>Моделювання, синтез та практична реалізація комплексних апаратно-програмних рішень для побудови автоматизованих систем управління складними промисловими об&rsquo;єктами;</li>
                <li>Автоматизація інженерних досліджень в інтелектуальних системах збору даних та управління технологічними процесами;</li>
                <li>Проектування алгоритмічного та програмного забезпечення для систем управління на базі апаратно-програмних робототехнічних платформ;</li>
                <li>Розроблення та впровадження нового методичного забезпечення в навчальний процес з дисципліни &laquo;Проектування комп&rsquo;ютеризованих систем управління&raquo;.</li>
            </ul>
            <p>3. Основні досягнення:</p>
            <ul>
                <li>Розроблена концепція вирішення оптимізаційних задач керування відносно інтелектуальних систем керування у вигляді структур, алгоритмів роботи та методики синтезу систем оптимального стабілізуючого керування для умов, коли об&rsquo;єкт є повністю або частково не спостережуваним, а дані про виходи складного об&rsquo;єкта керування подаються у вигляді&nbsp; лінгвістичних (нечітких) даних;</li>
                <li>Розроблені структури інтелектуальних систем керування та алгоритми їх функціонування базуються на спеціалізованому програмному середовищі, яке дозволяє створювати на основі апріорної інформації про об&rsquo;єкт та умови його функціонування пряму та інверсну лінгвістичні моделі багатовимірного об&rsquo;єкта керування;</li>
                <li>Розроблено методики та засоби синтезу побудови нейромережевих систем управління на основі апаратної та апаратно-програмної реалізації нейромережевих структур, що здатні налагоджуватися в реальному часі в темпі з процесом керування, яка дозволяє створювати адаптивні системи керування складними динамічними об&rsquo;єктами на основі програмованих логічних інтегральних схем. Розроблено програмні засоби для&nbsp; моделювання та налагодження нейромережевих елементів систем керування та систем керування в цілому, що дозволило на інженерному рівні відносно просто синтезувати, моделювати, налагоджувати та досліджувати нейромережеві системи керування та їх елементи; розроблено та досліджено оптимальні структури апаратно-програмної реалізації нейромережевих елементів систем управління та алгоритмів їх функціонування, процедур навчання та адаптації;</li>
                <li>Створено програмно-технічний комплекс для експериментального дослідження ступеню зносу колісних пар залізничних вагонів на державному підприємстві &ldquo;Державний науково-дослідний центр залізничного транспорту України&rdquo; (м. Київ);</li>
                <li>Розроблено та впроваджено автоматизовану систему управління технологічних установок вирощування штучних алмазів в Інституті надтвердих матеріалів НАНУ (м. Київ);</li>
                <li>Розроблено методичне забезпечення для виконання лабораторних та практичних робіт при викладанні 2-х дисциплін: &laquo;Проектування комп&rsquo;ютеризованих систем управління&raquo; та &laquo;Технології штучного інтелекту в управлінні&raquo;.</li>
            </ul>
            <p>&nbsp;</p>
            <p>Наукові публікації з напрямку&nbsp;<span class="стиль1">&ldquo;Комп&rsquo;ютеризовані системи управління&rdquo;</span></p>
        </div>
        <div>
            @Html.Action("FooterStringUncos", "News")
        </div>
    </div>
</div>