
@{
    ViewBag.Title = "ComputationalIntelligenceAndComputationalLinguistics";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    @Html.Partial("ScienceNav")
    <div class="col-md-9 mainColumns content-col" style="background-color:rgba(255, 255, 255, 0.4);" role="main">
        <div class="c__block-title">ІТ обчислювального інтелекту і комп&rsquo;ютерної лінгвістики</div>
        <div class="c__block-holder">&nbsp;</div>
        <div class="c__block-content">
            <p>ІТ обчислювального інтелекту і комп&rsquo;ютерної лінгвістики (Керівник &ndash; проф., д.т.н. Теленик С.Ф.)</p>
        </div>
        <div>
            @Html.Action("FooterStringUncos", "News")
        </div>
    </div>
</div>