
@{
    ViewBag.Title = "DesignOfMicroprocessorSystems";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    @Html.Partial("ScienceNav")
    <div class="col-md-9 mainColumns content-col" style="background-color:rgba(255, 255, 255, 0.4);" role="main">
        <div class="c__block-title">Проектування мікропроцесорних систем</div>
        <div class="c__block-holder">&nbsp;</div>
        <div class="c__block-content">
            <p>1. Загальний напрям:</p>
            <p><strong>Проектування мікропроцесорних систем.</strong></p>
            <p>2. Основні напрямки розробок та досліджень:</p>
            <ul>
                <li>Розробка спеціалізованих проблемно-орієнтованих пристроїв;</li>
                <li>Вбудовані системи;</li>
                <li>Автоматизовані системи проектування цифрових пристроїв.</li>
            </ul>
            <p>&nbsp;</p>
            <p>3. Наукові результати:</p>
            <ul>
                <li>Метод побудови цифрових функціональних блоків на основі розрядних перетворень;</li>
                <li>Метод побудови асинхронних функціональних цифрових блоків на основі ітераційних процесів;</li>
                <li>Методи проектування цифрових пристроїв зі зниженим енергоспоживанням на основі ПЛІС;</li>
                <li>Методи проектування багатопроцесорних спеціалізованих систем на основі керування потоком даних;</li>
                <li>Методи ефективного моделювання цифрових пристроїв на спеціалізованих багатопроцесорних обчислювальних системах;</li>
                <li>Оптимізація програм спеціалізованих мікропроцесорних систем.</li>
            </ul>
            <p>&nbsp;</p>
            <p>4.Практичні результати:</p>
            <ul>
                <li>Спеціалізований потоковий процесор:</li>
            </ul>
            <ol>
                <li>Архітектура процесорного блоку як двопроцесорної системи, що складається з процесора з рухомою крапкою та процесора з фіксованою, які керуються потоком даних;</li>
                <li>Компілятор, який автоматично вишиковує команди процесорів у порядку їх виконання;</li>
                <li>Програмна модель (емулятор);</li>
                <li>VHDL-модель.</li>
            </ol>
            <ul>
                <li>Фрагменти компілятора для мікропроцесорних систем:</li>
            </ul>
            <ol>
                <li>Оптимізація програм за рахунок об&rsquo;єднання циклів з метою збільшення локальності програм та зменшення енергоспоживання мікропроцесорної системи.</li>
            </ol>
            <ul>
                <li>Програмна система побудови функціональних блоків на основі розрядних перетворень.</li>
                <li>Процесор для попередньої обробки сигналів ультразвукового сканера медичного призначення.:</li>
            </ul>
            <ol>
                <li>VHDL-модель та ПЛІС-реалізація процесора.</li>
            </ol>
            <p>&nbsp;</p>
            <p>5. Розроблені та впроваджені продукти:</p>
            <ul>
                <li>Планувальник завдань для багатопроцесорної спеціалізованої системи верифікації моделей цифрових пристроїв. Проводить розпаралелювання системи булевих функцій, якими представлена модель розроблюваного пристрою. Планувальник розроблено на замовлення aldec Inc.</li>
                <li>Емулятор багатопроцесорної системи для верифікації моделей цифрових пристроїв, що проектуються. Емулятор побудовано як Windows-програму, яка повністю моделює всі функції реального пристрою. Розроблено на замовлення aldec Inc.</li>
            </ul>
            <p>&nbsp;</p>
            <p>Наукові публікації з напрямку&nbsp;<span class="стиль1">&rdquo;&nbsp;Проектування мікропроцесорних систем&rdquo;</span></p>
        </div>
        <div>
            @Html.Action("FooterStringUncos", "News")
        </div>
    </div>
</div>