
@{
    ViewBag.Title = "DevelopmentOfDistributedInformationAndControlSystems";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    @Html.Partial("ScienceNav")
    <div class="col-md-9 mainColumns content-col" style="background-color:rgba(255, 255, 255, 0.4);" role="main">
        <div class="c__block-title">Розроблення розподілених систем</div>
        <div class="c__block-holder">&nbsp;</div>
        <div class="c__block-content">
            <p>1. Загальний напрям</p>
            <p><strong>Розроблення розподілених інформаційно-управляючих систем.</strong></p>
            <p>2. Наукові результати:</p>
            <ul>
                <li>Моделі та методи адаптивної технології розроблення розподілених систем;</li>
                <li>Логічні та алгоритмічні алгебри шаблонів;</li>
                <li>Методи та механізми обміну даними в розподіленому середовищі;</li>
                <li>Моделі та методи проектування та управління бізнес-процесами для організаційно-технічних об&rsquo;єктів управління;</li>
                <li>Методи нечіткого розподілу ресурсів в умовах їх нестачі та надлишку.</li>
                <li>Методи накопичення та виведення бази знань бізнес-правилдля організаційно-технічних об&rsquo;єктів управління.</li>
            </ul>
            <p>&nbsp;</p>
            <p>3.Практичні результати:</p>
            <ul>
                <li>Платформа швидкого розроблення розподілених застосувань &laquo;SmartBase&raquo;:</li>
            </ul>
            <ul>
                <ol>
                    <li>Механізми обміну даними в розподіленому середовищі;</li>
                    <li>Підсистема налаштування та адміністрування в розподіленому середовищі;</li>
                    <li>Підсистема безпеки та аудиту;</li>
                    <li>Підсистема представлення реляційних даних у вигляді об&rsquo;єктної моделі;</li>
                    <li>Підсистема автоматичного розгортання та оновлення застосувань.</li>
                </ol>
            </ul>
            <p>&nbsp;</p>
            <ul>
                <li>Система електронного документообігу:</li>
                <li>Механізм обміну інформацією на основі шаблонів та активних документів.</li>
                <li>Середовище управління процесами розробки розподілених систем.</li>
            </ul>
            <p>&nbsp;</p>
            <p>4. Розроблені та впроваджені програмні продукти:</p>
            <ul>
                <li>Автоматизована система запезпечення Апарату Комісії по призначенню пенсій за особливі заслуги в Секретаріаті Кабінету Міністрів України. (розробка розпочата в 2001 р.; експлуатується з 2002 р., реалізована в середовищі Delphi на базі серверу застосувань Megapolis 2.0, СУБД &ndash; Oracle 8і);</li>
                <li>Система автоматизації роботи Апарату Комісії по призначенню пенсій за особливі заслуги в регіонах України (розробка розпочалась в 2001 р.; експлуатується з 2002 р., реалізована на базі MS access 2000 з використанням VBa; сайт технічної підтримки http://pensii.acts.kiev.ua);</li>
                <li>Система автоматизації складського обліку (експлуатується в Господарсько-фінансовому департаменті Кабинету Міністрів України з 2003 р. реалізована на базі MS access 2000 з використанням VBa);</li>
                <li>Сервер застосувань SmartBase (реалізований на платформі MS .Net Framework 3.5; в сервері реалізовані механізми поновлення клієнтських і серверних застосувань, система об&rsquo;єектного доступу до даних, єдина система безпеки і адміністрування застосувань, середа інтеграції приложень, підтримка роботи з розподіленими данними та ін.);</li>
            </ul>
            <p>&nbsp;</p>
            <p>5.Розроблені, але не впроваджені програмні продукти:</p>
            <ul>
                <li>Система автоматизації розподіленого складського обліку, орієнтованого на узгоджену роботу декількох складів і потоків матеріалів між ними (Beta-версія реалізована в 2004 р. в середі Delphi на базі серверу застосувань Megapolis 2.0, СУБД &ndash; Oracle 8і. Проект закритий в зв&rsquo;язку з припиненням фінансування);</li>
                <li>Система автоматизації розподіленого складського обліку, орієнтована на узгоджену роботу декількох складів і потоків матеріалів між ними (макет системи реалізований в 2005 р. як ініціативний продукт в середовищі Microsoft Visual Studio 2005 на базі серверу застосувань SmartBase, СУБД &ndash; Oracle 8і);</li>
                <li>Система автоматизації складу сувенірної продукції (Beta-версія реализована в 2004 р. в середовищі Delphi на базі серверу застосувань Megapolis 2.0, СУБД &ndash; Oracle 8і).</li>
            </ul>
            <p>&nbsp;</p>
            <p>6. Програмні продукти на стадії розробки або впровадження:</p>
            <ul>
                <li>Система електронного документообігу (на етапі впровадження в НТУУ &laquo;КПІ&raquo;; реалізована на базі сервера застосувань SmartBase, СУБД &ndash; MS SQLServer 2005/2008 или Oracle 8і/10g/11g).</li>
            </ul>
            <p>&nbsp;</p>
            <p>Наукові публікації з напрямку &ldquo;Розроблення розподілених інформаційно-управляючих систем&rdquo;</p>
        </div>
        <div>
            @Html.Action("FooterStringUncos", "News")
        </div>
    </div>
</div>
