
@{
    ViewBag.Title = "DistanceEducationTechnology";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    @Html.Partial("ScienceNav")
    <div class="col-md-9 mainColumns content-col" style="background-color:rgba(255, 255, 255, 0.4);" role="main"><div class="c__block-title">Розроблення технологій дистанційної освіти</div>
        <div class="c__block-holder">&nbsp;</div>
        <div class="c__block-content">
            <p>1. Загальний напрям:</p>
            <p><strong>Розроблення технологій дистанційної освіти.</strong></p>
            <p>2. Основні напрямки досліджень:</p>
            <ul>
                <li>Розроблення методик проведення занять з використанням інформаційних технологій;</li>
                <li>Розроблення засобів підтримки навчального процесу.</li>
            </ul>
            <p>&nbsp;</p>
            <p>3. Основні досягнення:</p>
            <ul>
                <li>Розроблена та впроваджена програма підготовки та обробки результатів блнкового тестування;</li>
                <li>Розроблена та впроваджена технологія та засоби для дистанційного виконання лабораторних робіт.</li>
            </ul>
            <p>&nbsp;</p>
            <p>Наукові публікації з напрямку&nbsp;&rdquo; Розроблення технологій дистанційної освіти&rdquo;</p>
        </div>
        <div>
            @Html.Action("FooterStringUncos", "News")
        </div>
    </div>
</div>