
@{
    ViewBag.Title = "ManagementOfItInfrastructure";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    @Html.Partial("ScienceNav")
    <div class="col-md-9 mainColumns content-col" style="background-color:rgba(255, 255, 255, 0.4);" role="main">
        <div class="c__block-title">Управління ІТ &ndash; інфраструктурою</div>
        <div class="c__block-holder">&nbsp;</div>
        <div class="c__block-content">
            <p>1. Загальний напрям:</p>
            <p><strong>Управління ІТ-інфраструктурою.</strong></p>
            <p>У рамках напрямку проводиться напрацювання та дослідження математичних моделей, методів та засобів моніторингу, аналізу та управління інфраструктурою інформаційно-телекомунікаційних систем (ІТС), мережами провайдерів інформаційно-комунікаційних послуг. На основі зазначених моделей, методів та засобів здійснюється проектування та реалізація інтегрованої системи управління ІТ-інфраструктурою.</p>
            <p><strong>2. Призначення:</strong></p>
            <p>Система управління ІТ-інфраструктурою(СУІ) призначена для моніторингу стану, аналізу працездатності та управління апаратними і програмними засобами функціональних і технологічних підсистем ІТС, мережами, підмережами, технологіями, обладнанням провайдерів інформаційно-комунікаційних послуг.</p>
            <p>3.Система управління ІТ-інфраструктурою забезпечує:</p>
            <ul>
                <li>контроль параметрів функціонування апаратного та програмного забезпечення серверів і робочих станцій;</li>
                <li>аналіз даних про функціонування підсистем і розподілених застосувань;</li>
                <li>накопичення, аналіз та відображення результатів контролю технічного стану і працездатності телекомунікаційної мережі;</li>
                <li>інтеграцію засобів адміністрування функціональних і технологічних підсистем;</li>
                <li>вироблення сигналів дистанційного управління технічними і програмними засобами підсистем в автоматичному та ручному режимі для прийняття рішень системним адміністратором;</li>
                <li>автоматизацію планування діяльності персоналу по управлінню функціонуванням при технічному обслуговуванні та інших регламентних роботах;</li>
                <li>реєстрацію та документування подій в ІТС, дій адміністраторів по управлінню функціональними й технологічними підсистемами;</li>
                <li>управління сервісами та інше.</li>
            </ul>
            <p>4. Реалізація:</p>
            <p>СУІ складається з 3-х основних частин, які реалізовані у відповідних програмних модулях:</p>
            <ul>
                <li>Сервера СУІ (серверний модуль);</li>
                <li>АРМ користувачів (клієнтський модуль);</li>
                <li>Агентів (агентський модуль).</li>
            </ul>
            <p>Серверний модуль реалізує основний функціонал СУІ, забезпечує безпосередній зв&rsquo;язок з базою даних і контролює роботу всіх інших модулів.<br />Клієнтські модулі СУІ забезпечують налаштування СУІ,апаратного забезпечення та застосувань ІТС, відображення стану усієї підконтрольної ІТ-інфраструктури з можливістю віддаленого управління, моніторингу та перегляду властивостей кожного ІТ-об&rsquo;єкту.<br />Агентський модуль встановлюється на усі АРМ користувачів та на всі або лише на частину елементів ІТС, де взаємодія з останніми забезпечується використанням стандартних протоколів. Взаємодія агентських модулів забезпечує розподіл навантаження на окремих об&rsquo;єктах ІТ-інфраструктури.</p>
            <p>5. Характеристики:</p>
            <p>СІУ розроблена із застосуванням технологій .NET. Для взаємодії СУІ з широким спектром апаратного та програмного забезпечення розроблена і реалізована технологія DaLLF (DynamicautoLinkedLibraryFunctions) із застосуванням рефлексії типів. СУІ надає гнучкий і зрозумілий у налаштуванні інтерфейс для роботи з об&rsquo;єктами ІТС, що забезпечує універсальність та простоту адаптації на різних програмно-апаратних платформах.</p>
            <p>Наукові публікації з напрямку &ldquo;Управління ІТ-інфраструктурою&rdquo;</p>
        </div>
        <div>
            @Html.Action("FooterStringUncos", "News")
        </div>
    </div>
</div>

