
@{
    ViewBag.Title = "MeasurementAndProcessControl";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    @Html.Partial("ScienceNav")
    <div class="col-md-9 mainColumns content-col" style="background-color:rgba(255, 255, 255, 0.4);" role="main">
        <div class="c__block-title">Вимірювання і управління технологічними процесами</div>
        <div class="c__block-holder">&nbsp;</div>
        <div class="c__block-content">
            <p>1. Загальний напрям:</p>
            <p><strong>Вимірювання і управління технологічними процесами.</strong></p>
            <p>2. Основні напрямки досліджень:</p>
            <ul>
                <li>розробка первинних і вторинних перетворювачів для автоматизації технологічних процесів;</li>
                <li>розробка автоматизованих систем управління технологічними процесами;</li>
                <li>забезпечення надійності автоматизованих систем управління технологічними процесами.</li>
            </ul>
            <p>&nbsp;</p>
            <p>3. Задачі, що вирішуються:</p>
            <ul>
                <li>вимірювання вмісту сухих речовин у рідких продуктах;</li>
                <li>вимірювання вмісту цукрози у розчинах;</li>
                <li>вимірювання чистоти рідких продуктів у процесі виробництва цукру;</li>
                <li>вимірювання внутрішнього та зовнішнього діаметрів прозорих труб;</li>
                <li>розрахунок надійності складних інформаційно-управляючих систем;</li>
                <li>розробка програмних та технічних засобів автоматизації на базі процесорів сімейства aVR.</li>
            </ul>
            <p>&nbsp;</p>
            <p>4. Отримані результати та розробки:</p>
            <ul>
                <li>автоматичний рефрактометр для вимірювання вмісту сухих речовин у рідких продуктах на основі прозорих порожнистих циліндрів;</li>
                <li>вимірювач внутрішнього та зовнішнього діаметрів прозорих труб у процесі виробництва;</li>
                <li>контролери збору та передачі інформації з використанням GSM-модулів;</li>
                <li>методика розрахунку надійності технічних та програмних засобів і оперативного персоналу складних інформаційно-управляючих систем.</li>
            </ul>
            <p>&nbsp;</p>
            <p>Наукові публікації з напрямку&nbsp;&ldquo;Вимірювання і управління технологічними процесами&rdquo;</p>
        </div>
        <div>
            @Html.Action("FooterStringUncos", "News")
        </div>
    </div>
</div>