
@{
    ViewBag.Title = "ModernTheoryOfAutomaticControl";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    @Html.Partial("ScienceNav")
    <div class="col-md-9 mainColumns content-col" style="background-color:rgba(255, 255, 255, 0.4);" role="main">
        <div class="c__block-title">Сучасна теорія автоматичного управління, цифрові та оптимальні системи</div>
        <div class="c__block-holder">&nbsp;</div>
        <div class="c__block-content">
            <p>Сучасна теорія автоматичного управління, цифрові та оптимальні системи (Керівник &ndash; доц., к.т.н. Репнікова Н.Б.)</p>
        </div>
        <div>
            @Html.Action("FooterStringUncos", "News")
        </div>
    </div>
</div>