
@{
    ViewBag.Title = "ParallelComputing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    @Html.Partial("ScienceNav")
    <div class="col-md-9 mainColumns content-col" style="background-color:rgba(255, 255, 255, 0.4);" role="main"><div class="c__block-title">Розроблення технологій паралельних обчислень</div>
        <div class="c__block-holder">&nbsp;</div>
        <div class="c__block-content">
            <p>1. Загальний напрям:</p>
            <p><strong>Розроблення технологій паралельних обчислень.</strong></p>
            <p>2. Основні напрямки досліджень:</p>
            <ul>
                <li>Розробка адекватних моделей паралельних обчислень, спрямованих на використання особливостей апаратних платформ та програмного забезпечення для таких платформ на ефективну підтримку паралелізму обчислень, зокрема, мультиядерних мікропроцесорів, кластерних мультипроцесорних систем, графічних відео прискорювачів та Грід-систем;</li>
                <li>Створення ефективних засобів автоматизації проектування паралельних програм на основі високорівневих описів процесів паралельних обчислень;</li>
                <li>Розробка прикладних систем програмного забезпечення паралельних обчислень для окремих галузей знань та технологій.</li>
            </ul>
            <p>&nbsp;</p>
            <p>3. Основні досягнення (під керівництвом проф. А.Ю.Дорошенка в НТУУ &ldquo;КПІ&rdquo; та в Інституті програмних систем НАНУ):</p>
            <ul>
                <li>Розробка методології алгебро-динамічних моделей програмування мультипроцесорних обчислень на основі високорівневих специфікацій та формальних трансформацій описів паралельних процесів аж до рівня програмного коду, що забезпечує найбільшу ступінь автоматизації розробки програм та забезпечення правильності та надійності отримуваного програмного коду;</li>
                <li>на підтримку цієї вищеназваної методології розроблено систему інструментальних засобів автоматизації проектування та синтезу програм на основі алгебро-алгоритмічних специфікацій та автоматизованих формальних перетворень програм з метою отримання високопродуктивних паралельних обчислень для різних класів паралельних систем &ndash; мультиядерної, кластерної та Грід-архітектури;</li>
                <li>спільно з Українським гідрометеорологічним інститутом розроблено високопродуктивну прикладну систему регіонального метеорологічного прогнозування з використанням паралельних обчислень на кластерній мультипроцесорній архітектурі.</li>
            </ul>
            <p>&nbsp;</p>
            <p>Наукові публікації з напрямку&nbsp;&rdquo;&nbsp;Розроблення технологій паралельних обчислень&rdquo;</p>
        </div>
        <div>
            @Html.Action("FooterStringUncos", "News")
        </div>
    </div>
</div>