
@{
    ViewBag.Title = "SystemsAndDataNetwork";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    @Html.Partial("ScienceNav")
    <div class="col-md-9 mainColumns content-col" style="background-color:rgba(255, 255, 255, 0.4);" role="main">
        <div class="c__block-title">Системи і мережі передавання даних</div>
        <div class="c__block-holder">&nbsp;</div>
        <div class="c__block-content">
            <p>1. Загальний напрям:</p>
            <p><strong>Системи і мережі передавання даних, телекомунікаційні мережі.</strong></p>
            <p>2. Основні напрямки досліджень:</p>
            <ul>
                <li>Оптимальне кодування повідомлень, Завадостійке кодування повідомлень, Криптографічне кодування повідомлень та захист інформації, Системи передавання даних (фізичний, канальний та мережний рівень);</li>
                <li>Вимірювання на мережах передавання даних (відповідно до моделі OSI);</li>
                <li>Управління потоками даних у мережах;</li>
                <li>Розроблення передавачів та приймачів систем передавання даних.</li>
            </ul>
            <p>&nbsp;</p>
            <p>3. Основні досягнення дослідницького колективу під керівництвом доц. В.П. Полторака:</p>
            <ul>
                <li>розроблено конструктивний підхід до побудови недвійкового досконалого систематичного надлишкового коду, розроблено систематичні процедури кодування та декодування ним даних від джерела;</li>
                <li>знайдено варіант коду БЧХ з мінімальною надлишковістю;</li>
                <li>створено серію дослідницьких макетів систем передавання даних з різними видами маніпуляції сигналу (на базі лабораторії 518-18);</li>
                <li>досліджено можливості методів динамічного програмування при маршрутизації у корпоративних мережах.</li>
            </ul>
            <p>&nbsp;</p>
            <p>Наукові публікації з напрямку&nbsp;&rdquo; Проектування СПД і телекомунікаційних мереж&rdquo;</p>
        </div>
        <div>
            @Html.Action("FooterStringUncos", "News")
        </div>
    </div>
</div>